.ManageSpace-Div {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.ManageSpace-Div input,
textarea,
select:focus {
  outline-color: #fc02fccf;
}

.Nav {
  width: 100%;
  height: 50px;
}
.ManageSpace-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 90vh;
}
.ManageSpace-title {
  font-size: larger;
}

.Update-room-form {
  margin: 20px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px 5px #fc02fb, 0 0 10px 7px #fc02fb, 0 0 15px 10px #fc02fb;
  cursor: pointer;
}

.Update-room-form h2 {
  margin-bottom: 20px;
}

.ManageSpace-name {
  width: calc(100% - 35px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.Update-room-form textarea {
  width: calc(100% - 35px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5em; /* Adjust as needed */
  height: calc(
    1.5em * 5
  ); /* 1.5em is the line height, multiply by 2 for 2 lines */
  max-height: calc(1.5em * 5);
  overflow: hidden; /* Hide overflow to prevent scrollbar */
  resize: none; /* Prevent resizing */
}
.Update-room-form select {
  width: calc(100% - 2px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ManageSpace-checkbox {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.ManageSpace-checkbox-text {
  width: 100px;
  font-size: small;
  color: black;
}
.Update-room-form button {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.ManageSpace-unlock {
  display: inline;
  font-size: small;
  margin-left: 15px;
  border: 0.2px dotted #fc02fb;
  background-color: #fc02fb;
}

.ManageSpace-update-btn {
  width: 100%;
  padding: 15px 20px;
  background-color: #000000;
}

.Update-room-form button:hover {
  background: linear-gradient(45deg, black, #fc02fb);
  color: white;
}
.Space-delete-warning {
  font-size: small;
  font-weight: 500;
}

.Space-delete {
  color: #fd0aa4;
  font-size: small;
}
.Space-delete:hover {
  background-color: #fc0240;
  color: white;
  border: #000000 1px solid;
  font-size: small;
}

.Space-see-ya {
  color: #fc02d6;
  margin: 2px;
  font-size: x-small;
}

.ManageSpace-error-message {
  font-size: medium;
  color: white;
  background: linear-gradient(to right, #0f0f17, #fc02fb, #0f0f17);
}
