.NewSpace-Div {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.NewSpace-Div input,
textarea,
select:focus {
  outline-color: #fc02fccf;
}

.Nav {
  width: 100%;
  height: 50px;
}
.NewSpaceForm-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 90vh;
}

.create-room-form {
  margin: 20px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px 5px #fc02fb, 0 0 10px 7px #fc02fb, 0 0 15px 10px #fc02fb;
  cursor: pointer;
}

.create-room-form h2 {
  margin-bottom: 20px;
}

.NewSpaceForm-name {
  width: calc(100% - 35px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-room-form textarea {
  width: calc(100% - 35px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;

  line-height: 1.5em; /* Adjust as needed */
  height: calc(
    1.5em * 5
  ); /* 1.5em is the line height, multiply by 2 for 2 lines */
  max-height: calc(1.5em * 5);
  overflow: hidden; /* Hide overflow to prevent scrollbar */
  resize: none; /* Prevent resizing */
}
.create-room-form select {
  width: calc(100% - 2px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.NewSpaceForm-checkbox {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.Form-checkbox-text {
  width: 100px;
  font-size: small;
  color: black;
}
.create-room-form button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.create-room-form button:hover {
  background: linear-gradient(45deg, black, #fc02fb);
  color: white;
}
