.Profile-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.Profile-logout {
  width: 100%;
  text-align: end;
  color: white;
  justify-self: end;
  background: linear-gradient(to bottom, #fc02fc72, white);
}

.Profile-logout-link {
  color: #fc02fb;
  padding: 5px 25px;
  padding-top: 3px;
  font-size: small;
  border: 1px dotted black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.Profile-logout-link:hover {
  background: linear-gradient(to right, #0f0f17, #fc02fb, #0f0f17);
  color: white;
  font-weight: 600;
}
.Profile-wrapper-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Profile-guest-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93vh;
}
.Profile-form-div {
  width: 100%;
  max-width: 420px;
  flex-direction: column;
  align-self: start;
  align-items: center;
  justify-content: center;
  margin: 35px 15px;
}

.Profile {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  border-radius: 10px;
  margin: 15px;
  margin-top: 0px;
  cursor: pointer;
}
.Profile-guest {
  padding: 10px;
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  border-radius: 10px;
  margin: 15px;
  margin-top: 0px;
  cursor: pointer;
  box-shadow: 0 0 7px 5px #fc02fb, 0 0 10px 7px #fc02fb, 0 0 15px 10px #fc02fb;
}
.vertical-text {
  writing-mode: vertical-rl; /* vertical text from right to left */
  text-orientation: mixed; /* upright characters */
  transform: rotate(180deg); /* optional: rotate to read from bottom to top */
  font-size: small;
  font-weight: 700;
  padding: 10px;
  color: #fc02fb;
  background-color: black;
  /* border: 1px solid black; */
}

.Profile-spaces {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  max-width: 800px;
}
.Profile-cards {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
}

.Profile-welcome {
  font-size: x-large;
  color: #fc02fb;
}
.Profile input:focus {
  outline-color: #fc02fb;
}

.Profile-title {
  text-align: center;
  font-size: x-large;
  font-weight: 450;
  color: black;
  padding: 0px 15px;
}

.title-span {
  color: white;
  font-weight: 500;
  background-color: black;
  border-radius: 10px;
  padding: 0px 10px;
}

.Profile-heading {
  margin-bottom: 20px;
  font-size: medium;
  font-weight: 450;
  background: linear-gradient(to right, #0f0f17, #fc02fb, #0f0f17);
  padding: 5px 0px;
  color: white;
}

.Profile div {
  margin-bottom: 0.5em;
}

.Profile label {
  display: block;
  margin-bottom: 0.5em;
  font-size: small;
  text-align: left;
}

.Profile input {
  width: calc(100% - 35px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.Profile .error {
  color: red;
  font-size: 0.6em;
  margin: 0px;
  text-align: left;
}

.Profile-submit {
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.Profile-unlock {
  color: white;
  font-size: small;
  margin: 5px 15px;
  border: 0.2px dotted #fc02fb;
  border-radius: 5px;
}

.Profile button:hover {
  background: linear-gradient(45deg, black, #fc02fb);
  color: white;
}

.Profile button:focus {
  outline-color: #fc02fb;
}

.Profile-join {
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.Profile-join:hover {
  background: linear-gradient(45deg, black, #fc02fb);
  color: white;
}
.Profile-guest-message {
  color: #330033;
  font-size: 20px;
}

.Profile-delete {
  color: #fc02a0;
  font-size: small;
}
.Profile-delete:hover {
  background-color: #fc0240;
  color: white;
  border: #000000 1px solid;
  font-size: small;
}
.Profile-rooms {
  background-color: #fc02fb;
}

.Profile-logo-guest {
  width: 325px;
}

.Profile-delete-warning {
  font-size: medium;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* Media query for screens below 500px */
@media (max-width: 500px) {
  .vertical-text {
    writing-mode: horizontal-tb; /* horizontal text from top to bottom */
    text-orientation: initial; /* normal character orientation */
    transform: rotate(0deg); /* no rotation needed */
  }
}
